
process {
    cpus = 4
    memory = '16 GB'
}

profiles {
    conda {
        conda.enabled = true
        conda = "env.yml"
    }

    docker {
        docker.enabled = true
        process.container = "ghcr.io/young-sudo/spatialflow:latest"
    }

    singularity {
        singularity.enabled = true
        process.container = "docker://ghcr.io/young-sudo/spatialflow:latest"
    }

    slurm {
        executor = "slurm"
        conda.enabled = true
        conda = "env.yml"
    }

    standard {
        executor = "local"
    }
}
